.coin-row {
  .coin-name {
    display: flex;
    align-items: center;
    gap: 12px;
    img {
      height: 30px;
      width: auto;
    }
    p {
      font-size: 18px;
    }
    span {
      font-size: 12px;
      background-color: rgb(207, 207, 207);
      color: rgb(40, 40, 40);
      padding: 0.3em;
      border-radius: 0.3em;
    }
  }
  .coin-24h {
    .red {
      color: red;
    }
    .green {
      color: green;
    }
    div {
      display: flex;
      gap: 0.3em;
      align-items: center;
    }
  }
  .coin-market_cap {
    span {
      color: rgb(125, 125, 125);
      font-size: 12px;
    }
  }
}
